body{
    font-family: "Kanit", sans-serif;
      font-weight: 100;
      font-style: normal;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to right top, #171819, #1f2122, #272a2a, #313432, #3c3d3a);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    button{
        font-family: "Kanit", sans-serif;
        font-weight: 100;
        font-style: normal;
    }
    
    h1{
        color: gray;
    }
    .login-form{
        background-image: linear-gradient(to right top, #171819, #1f2122, #272a2a, #313432, #3c3d3a);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 20px;
        box-shadow: -1px 1px 170px 45px rgba(0,0,0,0.9);-webkit-box-shadow: -1px 1px 170px 45px rgba(0,0,0,0.9);-moz-box-shadow: -1px 1px 170px 45px rgba(0,0,0,0.9);
    
    }
    
    .logo img{
        background-size: cover;
        width: 40%;
        margin: 0;
        height: 50%;
       
    }
    
    .login-mail{
        color: gray;
        background-color: transparent;
        border-radius: 5px;
        border-color: transparent;
        padding: 10px;
        text-align: center;
    }
    .login-password{
        color: gray;
        color: gray;
        background-color: transparent;
        border-radius: 5px;
        border-color: transparent;
        padding: 10px;
        text-align: center;
    }
    
    .submit-button{
        text-decoration: black;
        border-radius: 10px;
        border-color: transparent;
        font-weight: 400;
        background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
        background-color: #354152;
        color: #7e8ba3;
        
    }
    
    .cookie-banner{
        display: flex;
        position: fixed;
        background-color: white;
        flex-direction: column;
        margin: 0;
        width: 50%;
        border-radius: 10px;
        padding: 15px;
        box-shadow: -1px 14px 219px -26px rgba(145,117,117,0.9);-webkit-box-shadow: -1px 14px 219px -26px rgba(145,117,117,0.9);-moz-box-shadow: -1px 14px 219px -26px rgba(145,117,117,0.9);
    
    }
    
    .cookie-image img{
        background-size: cover;
        width: 50px;
        margin: 0;
        margin-top: 10px;
    
    }
    .cookie-banner h2{
        margin-top: -10px;
    }
    .cookie-banner p{
        margin-top: -10px;
    }
    
    .accept{
        background-image: linear-gradient(to left, #e469b3, #ea59a0, #ef498a, #f03872, #ee2859);
        border-radius: 10px;
        padding: 5px 25px;
        border-color: transparent;
        font-weight: 400;
    }
    
    .edit{
        border-radius: 10px;
        padding: 5px 25px;
        border-color: transparent;
        font-weight: 400;
        background-color: transparent;
    }
    
    .close-image{
      width: 30px;
      position: absolute;
      right: 10px;
      border: none;
      border-radius: 50%;
      background-color: lightgray;
    }